@(loginForm: Form[entities.User])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Login
}

@main(title, nav = "login") {
    
    @helper.form(action = routes.LoginController.submit) {
        
        <fieldset>
            <legend>Enter your personal details</legend>
            
            @inputText(
                loginForm("username"),
                '_label -> "Username", 
                '_help -> "Please choose a valid username.",
                '_error -> loginForm.globalError
            )
            
            @inputPassword(
                loginForm("password"),
                '_label -> "Password",
                '_help -> "A password must be at least 6 characters. "
            )
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="btn primary" value="Login">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
        
    }
    
}