@main(Html("Latch your application")) {
    <h2>Latch plugin for Play Framework</h2>
    
    <p>
        Demonstrate a classical latch flow.
    </p>
    
    <p>
        <a class="btn btn-lg btn-success" href="@routes.SignUp.blank">View sample »</a>
    </p>
    
    <h2>How does Latch work?</h2>
    
    <p>
        Latch is a service that lets you add an extra level of security to your online services. To help prevent any unauthorized use, Latch gives you the control to switch off your accounts with a single tap when you’re not using them.
    </p>
    
    <p>
        <a class="btn btn-lg btn-default" href="http://latch.elevenpaths.com" target="_blank">More info »</a>
    </p>
}